@model BeSpokedBikes.Models.Salesperson

@{
    ViewData["Title"] = "Sales";
    var salelist = ViewData["salespeople"] as List<Salesperson>;
}

<h1>Salespeople</h1>

<div>

    <table style="width:100%">
        <tr>
            <th>Product Name</th>
            <th>Customer Name</th>
            <th>Salesperson</th>
            <th>Commission Made</th>
        </tr>
        @foreach (var salesperson in salelist)
        {

            <tr>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@salesperson.SalespersonId">@salesperson.SalespersonId</a></td>
                <td><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@salesperson.SalespersonId">@salesperson.FirstName</a></td>
            </tr>
        }
    </table>
    <hr />

</div>